@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
  padding: 0;
  margin: 0;
  font-family: "Press Start 2P", system-ui;

}
.main{
  background-color: rgb(200, 240, 80);
  margin: 0.5rem;
  border-radius: .2rem;
  padding: .3rem;
}
.head{
  display: flex;
  flex-direction: row;
  grid-row: auto;
  
}
.header{
  /*width: 15rem;*/
  display: flex;
}
.scores{
  height: 20vh;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: end;
}
.comp_display{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.2rem;
}
.comp_emojis{
  border: solid 1px black;
  border-style: dotted dashed;
}
.result{
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: bisque;
  margin: .2rem;

}
.player_display{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: .2rem;
}
.player_emojis{
  border: solid 1px black;
  border-style: dotted;
}
.emojis_selection{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7em;

}
.emojis_style{
  background-color: white;
  width: 2rem;
  display: flex;
  justify-content: center;
  border:none;
  border-radius: .1rem;
}